@keyframes fade-in {
	from {opacity:0;}
	to {opacity:1;}
}

* {
	animation: fade-in 0.5s;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18pt;
}

html, body {
	margin: 0px;
	background: #f8f8f8;
	overflow-x: hidden;
	height: 100%;
}

nav {
	height: 70px;
	padding-left: 50px;
	padding-top: 30px;
	background: #dddddd;
	z-index: 10;
	position: absolute;
	width: 100%;
}

.page {
	/*overflow: hidden;*/
	display: block;
	width: 100%;
	height: 100%;
	white-space: nowrap;
	overflow-x: scroll;
	overflow-y: hidden;
	padding: 0px;
	margin: 0px;
}

.half {
	position: relative;
	display: inline-block;
	width: 50%;
	height: 100%;
	max-height: 100%;
	padding-top: 120px;
	padding-left: 50px;
	border-left: 1px solid grey;
	box-sizing: border-box;
}

.list {
	overflow-y: scroll;
	overflow-x: hidden;
	position: absolute;
	top: 190px;
	bottom: 0px;
	left: 40px;
	right: 0px;
	padding: 10px;
}

.name {
	margin-bottom: 40px;
	font-size: 23pt;
}

.listItem {
	display: block;
	cursor: pointer;
	padding: 10px;
	margin: -10px;
	margin-bottom: 60px;
	margin-right: 0px;
	height: 80px;
}

.listItem:hover {
	background-color: #dddddd;
}

.listItem .number {
	width: 60px;
	height: 60px;
	background-color: #c65a4f;
	margin-right: 40px;
	float: left;
	line-height: 60px;
	text-align: center;
}

.listItem .content {
	width: 70%;
	display: block;
	white-space: normal;
	float: left;
}

.back {
	border-right: 1px solid grey;
	background: #f8f8f8;

	width: 5px;
	height: 100%;

	position: fixed;
	top: 0px;
	left: 0px;

	transition: width 0.2s ease;
	z-index: 50;

	cursor: pointer;
}

.back:hover {
	width: 50px;
}



/*

.page {
	position: relative;
	white-space: nowrap;
	overflow-x: scroll;
	overflow-y: scroll;
}

.task {
	position: relative;
	width: 350px;
	margin: 50px;
	margin-left: 25px;
	margin-right: 0px;
	padding: 30px;
	border: 1px solid #d3d3d3;
	border-radius: 4px;
	white-space: normal;
	display: inline-block;
	vertical-align: top;
}

.task > .title {
	margin-left: 0px;
	font-weight: 600;
	padding-bottom: 20px;
}

.icon {
	display: inline-block;
	margin-right: 20px;
}

.task > .number {
	color: #c65a4f;
	position: absolute;
	left: -25px;
	text-align: right;
	width: 25px;
}

.add {
	font-weight: 300;
	color: #888888;
	cursor: pointer;
}

.add:hover {
	text-decoration: underline;
	color: #181818;
}

.effort {
	font-weight: 300;
	position: relative;
	padding-left: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 1px solid #d3d3d3;
	cursor: pointer;
}

.effort .title:hover {
	text-decoration: underline;
}


.effort > .people > .person {
	font-size: 10pt;
	margin-right: 20px;
	font-weight: 300;
}

.effort > .people > .person:hover {
	text-decoration: underline;
}

.effort > .title:hover {
	text-decoration: underline;
}



input {
	background: transparent;
	border: 1px solid #d3d3d3;
	padding: 5px;
	outline: none;
	box-sizing: border-box;
	display: inline-block;
	width: 90%;
}

nav {
	padding-left: 30px;
	padding-top: 20px;
	padding-bottom: 60px;
	width: 100%;
	background: #efefef;
}

nav > .layer {
	float: left;
	margin-right: 40px;
	color: #666666;
	cursor: pointer;
}

nav > .layer:hover {
	color: #000000;
}

nav > .layer.top {
	color: #000000;
	cursor: default;
}

nav > .arrow {
	float: left;
	margin-right: 40px;
	margin-top: 10px;
}

nav > .layer > .type {
	font-weight: 300;
	font-size: 8pt;
}


nav > .layer > .title {
	font-weight: 600;
}
*/
