@keyframes fade-in {
	from {opacity:0;}
	to {opacity:1;}
}

* {
	animation: fade-in 0.5s;
	font-family: 'Nunito';
	font-size: 13pt;
}

body {
	margin: 0px;
	background: #f8f8f8;
}


@keyframes loading {
	0% { transform: scale(1,1); }
	50% { transform: scale(1.2,1.2); }
	100% { transform: scale(1,1); }
}

#loading {
	background: #c65a4f;
	width: 40px;
	height: 40px;
	animation: loading 1s infinite;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -20px;
	margin-top: -20px;
	border-radius: 20px;
}

#loadmessage {
	color: #c65a4f;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 80px;
	height: 40px;
	text-align: center;
	margin-left: -40px;
	margin-top: +30px;

}

.task {
	position: relative;
	width: 960px;
	margin: 50px;
	margin-left: 70px;
	margin-right: 0px;
	padding: 20px;
/*  border: 1px solid #d3d3d3;
	background: #d3d3d3;
	float: left;
	*/

	border-radius: 2px;


}

.task > .title {
	margin-left: 0px;
	font-weight: 600;
	padding-bottom: 20px;
}

.icon {
	display: inline-block;
	margin-right: 20px;
}

.task > .number {
	color: #c65a4f;
	position: absolute;
	left: -25px;
	text-align: right;
	width: 25px;
}

.add {
	font-weight: 300;
	color: #888888;
	cursor: pointer;
}

.add:hover {
	text-decoration: underline;
	color: #181818;
}

.effort {
	font-weight: 300;
	position: relative;
	padding-left: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 1px solid #d3d3d3;
	cursor: pointer;
}

.effort .title:hover {
	text-decoration: underline;
}


.effort > .people > .person {
	font-size: 10pt;
	margin-right: 20px;
	font-weight: 300;
}

.effort > .people > .person:hover {
	text-decoration: underline;
}

.effort > .title:hover {
	text-decoration: underline;
}



input {
	background: transparent;
	border: 1px solid #d3d3d3;
	padding: 5px;
	outline: none;
	box-sizing: border-box;
	display: inline-block;
	width: 90%;
}

nav {
	padding-left: 30px;
	padding-top: 20px;
	padding-bottom: 60px;
	width: 100%;
	background: #efefef;
}

nav > .layer {
	float: left;
	margin-right: 40px;
	color: #666666;
	cursor: pointer;
}

nav > .layer:hover {
	color: #000000;
}

nav > .layer.top {
	color: #000000;
	cursor: default;
}

nav > .arrow {
	float: left;
	margin-right: 40px;
	margin-top: 10px;
}

nav > .layer > .type {
	font-weight: 300;
	font-size: 8pt;
}


nav > .layer > .title {
	font-weight: 600;
}
