.admin {
	height: 100%;
}

.admin-users {
	height: 100%;
	overflow-y: scroll;
}

.admin-label {
	.sub-navigation();
	display: inline-block;
	width: 20%;
}

.admin-user-value{
	display: inline-block;
	width: 20%;
}
