@import "variables/colors.less";

.button-number {
	cursor: pointer;
	background-color: @color-unselected;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 50%;
	text-align: center;
}

.button-number:hover {
	background-color: @color-selected;
	color: @color-white;
}
