.personal-efforts {
    height: 100%;
    overflow-y: scroll;
	padding-bottom: 20%;
    box-sizing: border-box;
}

.personal-efforts-effort {
	height: 180px;
	position: relative;
}

.personal-efforts-effort-name {
	.default-text-regular ();
	line-height: 20px;
	
	display: inline-block;
	vertical-align: top;
}

.personal-efforts-effort-name + .personal-efforts-effort-date {
	margin-top: 2px;
}

.personal-efforts-effort-date, .personal-efforts-effort-type {
	.default-text-light ();
}

.date-display + span {
	margin-left: 10px;
}

span + .date-display {
	margin-left: 7px;
}

.date-display {
	color: @color-selected;
}

.date-display:hover {
	color: @color-black;
	cursor: pointer;
}

.personal-efforts-effort-details {
	position: absolute;
	left: 110px;
	top: 0;
}

.calendar {
	position: relative;
	width: 100%;
	height: 100%;
}

.calendar svg {
	width: 100%;
	height: calc(100% - 80px);
	margin-bottom: 10px;
	overflow: hidden;
}

.calendar-grid {
	fill: #d8d8d8;
}

.calendar-grid:hover {
	fill: #bbbbbb;
}

.calendar-lines {
	stroke-width: 1px;
	stroke: #bbbbbb;
}

line.calendar-todayline {
	stroke-width: 2px;
	stroke: blue;
}

line.calendar-timeline {
	stroke-width: 2px;
	stroke: #333333;
}

line.calendar-timeline-dashed {
	stroke-width: 2px;
	stroke: #333333;
    stroke-dasharray: 10,20;
}

circle.calendar-timeline {
	stroke-width: 2px;
	fill: blue;
}

.calendar-labels {
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;

	cursor: ew-resize;
}

.calendar-label {
	width: 8%;
	display: inline-block;
}

.calendar-label-month.calendar-label-phase-a {
	background-color: blue;
	color: white;
}

.calendar-label-month.calendar-label-phase-b {
	background-color: white;
	color: blue;
}

.calendar-label-month:after {
	content: '\200b';
}

.calendar-navbutton {
	width: 2%;
	display: inline-block;
	cursor: pointer;
}
