.personal-efforts {
    height: 100%;
    overflow-y: scroll;
}

.personal-efforts-effort {
	height: 100px;
}

.personal-efforts-effort-name {
	display: inline-block;
	vertical-align: top;
	width: 200px;
	margin-top: 10px;
	margin-left: 10px;
}

.calendar {
	position: relative;
	width: 100%;
	height: 100%;
}

.calendar svg {
	width: 100%;
	height: calc(100% - 80px);
	margin-bottom: 10px;
}

.calendarGrid {
	fill: #d8d8d8;
}

.calendarGrid:hover {
	fill: #bbbbbb;
}

.calendarLines {
	stroke-width: 1px;
	stroke: #bbbbbb;
}

.calendarTimeLine {
	stroke-width: 2px;
	stroke: #333333;
}

.calendar-label {
	width: 8.3333%;
	display: inline-block;
}
