@import "variables/colors.less";

.editor {
	width: 100%;
	height: 100%;
	transition: margin-left 0.4s;
	overflow-y: scroll;
}

.editor-buttons {
	margin-bottom: 10px;
}

.editor.state-hidden {
	margin-left: 100%;
}

.editor.state-edit {
	margin-left: 0%;
}

.editor-typeselect-type {
	padding: 10px;
	border: 1px solid @color-editable;
	margin-bottom: 10px;
	cursor: pointer;
}

.editor-typeselect-type-timespan {
	display: none;
}

.editor-typeselect-type-timespan.state-visible  {
	display: block;
}
