@import "variables/colors.less";
@import "components/Inputs.less";
@margin-bottom-editor-items: 75px;
@margin-status-button: 1%;

.editor {
	width: calc(55% - 10px);
	height: 100%;
	font-size: @main-text;
	background-color: @color-background;
	position: absolute;
	right: 0px;
}

.editor-right {
	right: 0px;
}

.editor-left {
	left: 10px;
}

.editor.state-hidden {
	display: none;
}

.editor-header {
	box-shadow: -15px 21px 8px @color-background;
	z-index: 1;
	position: relative;
	margin-right: 30px;

	span {
		color: @color-selected;
		padding-left: 20px;
	}

	.button-number {
		color: @color-white;
		background-color: @color-selected;
		display: inline-block;
	}
}

.editor-header .icons-header {
	cursor: pointer;
	margin-right: -2px;
}

.editor-subtitle-header .material-icons {
	cursor: pointer;
}

.editor-subtitle-header + .editor-peoplelist {
	margin-top: (@margin-bottom-editor-items / 7);
}

.editor-content {
	overflow-y: scroll;
	height: calc(100% - 40px);
	width: 100%;
	//padding-bottom: 40px; Firefox doesn't recognise the padding-bottom + box-sizing
	box-sizing: border-box;
}

.editor-buttons {
	margin-top: 70px;
	margin-bottom: 30px;
	margin-right: 60px;
	padding-bottom: 40px;
}



.efforteditor {
	padding-right: 20px;
	padding-top: 25px;
}

.efforteditor .textarea + .editor-subtitle, .efforteditor .editor-typeselect + .editor-subtitle {
	margin-top: @margin-bottom-editor-items;
}

// header - title + icon
.editor-subtitle-header .icons-header {
	float: right;
	cursor: pointer;
	margin-top: -37px;
}

.editor-typeselect-type, .toggle .status-labels {
	.button();
//	padding: 10px;
//	border: @border-box-1 solid @color-editable;
	margin-bottom: 8px;
	cursor: pointer;
//	width: 45%;
	text-align: center;
}

.editor-typeselect-type:hover {
	background-color: @color-editable;
	color: @color-white;
}

.editor-typeselect-type.state-selected {
	background-color: @color-selected;
	color: @color-white;
}

// Typology
// When typology is selected
.editor-typeselect-type-timespan {
	display: none;
}

.editor-typeselect-type-name {
	.default-text-regular ();
}

.editor-typeselect-type-timespan-subtitle {
	margin-top: 6px;
	margin-bottom: 3px;
}

.editor-typeselect-type-timespan.state-visible  {
	display: block;
}

.editor-typeselect-type .material-icons {
	float: right;
	cursor: pointer;
	margin-top: -19px;
}

.editor-subtitle {
	margin-bottom: 20px;
}

.editor-subtitle span + .info-box {
	margin-left: 15px;
}

.editor-row + .editor-row {
	margin-top: 60px;
}

.editor-column:first-child {
	margin-right: 2%
}

.editor-column {
	width: 49%;
	display: inline-block;
    vertical-align: top;
}

.editor-section-title {
	margin-bottom: 40px;
}

.editor-section {
	border-right: 3px @color-selected solid;
	padding-right: 40px;
	padding-bottom: 180px;
	position: relative;
}

.editor-section.editor-section-end {
	border-right: 3px transparent solid;
	padding-bottom: 40px;
}

.editor-section::before {
    content: "";
    width: 19px;
    height: 19px;
    background-color: @color-selected;
    position: absolute;
    right: -11px;
    border-radius: 10px;
}

.opg-door {
	text-align: center;
	margin-bottom: 16px;
}

.efforteditor .textarea + .opg-door {
	margin-top: 16px;
	margin-bottom: 16px;
}

.editor-peoplelist-person-hours {
	margin-left: 35%;
}

.editor-hours-week {
	display: inline-block;
	right: 30%;
}

.switch-frequency {
	margin-left: 10px;
	display: inline-block;
//	margin-left: 40px;
	cursor: pointer;
	color: @color-selected;
}

.total-hours {
	margin-top: 30px;
	color: @color-selected;
}

.title-total, .total-hours-counting {
	display: inline;
}

.total-hours-counting {
	position: absolute;
	left: 35%;
}

// People
.editor-peoplelist-finder {
	width: 50%;
}

//Dropdown

.dropdown {
	display: inline;
	margin-left: 130px;
}

.dashboard-query {
	margin-left: 10px;
}

.dashboard-query .dropdown-value {
	width: 8%;
}

.dropdown-value {
//	width: 33%;
	display: inline-block;
	padding-left: 7px;
	padding-right: 7px;
}

span + .dropdown {
	margin-right: 80px;
}

.dropdown-value.novalue {
	color: @color-grey;
}

.dropdown-options {
	display: inline-block;
	position: absolute;
	left: 0px;
	top: 30px;
	z-index: 99999999;
	max-height: 200px;
//	width: 100%;
	//overflow-y: scroll;
} // Box style is .box-editor-style

.dropdown-option {
	padding: 3px;
	padding-left: 7px;
	padding-right: 7px;
	border-radius: 0px
}

.dropdown-option:hover {
	background-color: @color-selected;
	color: @color-white;
}

// Sketch
.status-labels {
	font-weight: @regular;
	box-sizing: border-box;
	width: calc(50% - @margin-status-button);
	display: inline-block;
}

.status-labels:hover {
	background-color: @color-selected;
	color: @color-white;
}

.toggle div.status-labels:first-child {
	margin-right: @margin-status-button;
}

.toggle div.status-labels:last-child {
	margin-left: @margin-status-button;
}

.toggle .state-on {
	background-color: @color-selected;
	color: @color-white;
}
