.admin-feedback {
	height: 100%;
}

.admin-feedback-questions {
	overflow-y: scroll;
	overflow-x: hidden;
}

.admin-feedback-list-effort-name {
	display: inline-block;
	margin-left: 10px;
}

.admin-feedback-list-effort {
	margin-bottom: 10px;
}
