.dashboard-general-program{
    margin-bottom: 20px;
    .default-text-monospace();
}

.dashboard-general-task-number {
    width: 26px;
    margin-left: -16px;
    display: inline-block;
    height: 26px;
    background: blue;
    border-radius: 50%;
    vertical-align: top;
    margin-top: -2px;
    text-align: center;
    line-height: 27px;
    color: white;
}

.dashboard-general-effort {
    display: inline-block;
    background: #ffffff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    margin-right: 3px;
    margin-top: 1px;
    line-height: 22px;
    font-size: 0.8em;
    vertical-align: top;
}

.dashboard-general-task {
    background: #0000FF;
    margin: 2px;
    height: 26px;
    padding: 2px;
    vertical-align: top;
    box-sizing: border-box;
    width: 400px;
    line-height: 26px;
}


.dashboard-general-program-name {
	display: inline-block;
	width: 200px;
    vertical-align: top;
}
.dashboard-general-tasks {
    display: inline-block;
}

.dashboard-feedbacks {
    margin-left: 100px;
    overflow: scroll;
    height: 100%;
}
