@import "variables/colors.less";
@import "variables/fonts.less";

.login {
	width: 100vw;
	height: 100vh;
}

.login-popup .button {
	width: 33%;
	display: inline-block;
}

.login-buttons {
	position: absolute;
	top: 300px;
	width: 89%;
}

.login-popup .button + .button {
	margin-left: 8px;
}

.login-overlay-fullscreen {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: @color-selected;
    z-index: 99999999;
	box-shadow: inset 0px 0px 250px @color-background; // The shadow is visible once the pattern will be placed as background
}

.login-popup {
    z-index: 999999999;
    background-color: @color-background;
    position: absolute;
    width: 275px;
    height: 400px;
    left: calc(50% - 150px);
    top: calc(50% - 200px);
    padding: 13px;
    padding-left: 20px;
    padding-right: 20px;
}

.login-popup-title {
	margin-bottom: 25px;
}

.login-popup-email {
	background-color: @color-background;
	width: 100%;
	padding-left: 3px;
	padding-right: 3px;
	.typing-area ();
}

.login-popup-error-message.body-text {
	margin-top: 15px;
	color: @color-selected;
}

.login-popup-message, .login-popup-forgotten {
	margin-top: 20px;
}

//.login-popup-message + .button, .login-popup-error-message + .button {
//	margin-top: 80px;
//}

.login-popup-forgotten {
	.default-text-regular ();
	color: @color-selected;
	font-size: 13px;
	line-height: 17px;

	position: absolute;
	bottom: 15px;
	padding-right: 20px;
}
