@import "variables/colors.less";

nav {
	z-index: 10;
}

.nav-dashbutton {
	background: @color-white;
	padding: 4px;
	width: 30px;
	height: 30px;
}

.nav-dashbutton-icon {
	background: @color-unselected;
	width: 30px;
	height: 30px;
}
