@import "variables/colors.less";
@import "components/Buttons.less";

nav {
	z-index: 10;
}

.programnav {
	display: inline-block;
	width: 50vw;
}

.nav-button {
	width: @width-circle;
	height: @width-circle;
	display: inline-block;
	position: relative;
}

nav .nav-button .icon, .nav-user-login .icon {
	width: @width-circle;
}

.nav-button:hover {
	cursor: pointer;
}

nav .nav-button + .nav-button {
	margin-left: 15px;
}

.nav-dashbutton {
	background: @color-white;
	width: @programbarWidth;
	height: @programbarWidth;
	display: inline-block;
	position: relative;
}

.nav-dashbutton-icon {
	background: @color-unselected;
	width: (@programbarWidth / 2);
	height: (@programbarWidth / 2);
}

.nav-current-position {
	vertical-align: top;
	margin-left: 15px;
	width: calc(100% - 210px);
	cursor: pointer;
	position: relative;
}

.nav-program-title-top {
	font-size: @selected-text-title;
	margin-left: 20px;
	line-height: 28px;
	position: absolute;
	top: 5px;
}

.nav-current-position, .nav-program-number, .nav-program-title-top {
//	height: @width-circle;
	display: inline-block;
}

.nav-right {
	float: right;
}

.nav-connecting {
	display: inline-block;
	line-height: 38px;
	vertical-align: top;
	margin-right: 20px;
}

.nav-user {
	display: inline-block;
	height: 38px;
	cursor: pointer;
	position: relative;
}

.nav-user-todo {
	position: absolute;
	top: 27px;
	left: -4px;
	width: 20px;
	height: 20px;
	background-color: #d21919;;
	color: white;
	border-radius: 10px;
	text-align: center;
	line-height: 22px;
	font-size: 0.8em;
	font-family: @font-number;
}

.nav-tooltip {
	.sub-navigation();

	visibility: hidden;
	position: absolute;

	z-index: 1;
	opacity: 0;
	transition: opacity 0.2s 0.5s;
}

:hover > .nav-tooltip {
	visibility: visible;
	opacity: 1;
	//transition: opacity 0.1s;
}
