@import "variables/colors.less";
@import "variables/fonts.less";
@width-circle: 38px;

.numbering {
	display: inline-block;
}

.numbering-number {
	display: inline-block;
	background-color: @color-unselected;
	width: @width-circle;
	height: @width-circle;
	line-height: @width-circle;
	border-radius: 50%;
	text-align: center;
	font-family: @font-number;
	font-size: @button-number;
	font-weight: @regular;
}
