@import "variables/colors.less";
@import "variables/fonts.less";
@import "templates/Buttons.less";
@programbarWidth: 54px;

.programnav {
	display: inline-block;
	position: relative;
	width: 30%;
}

.programnav-topbar {
	cursor: pointer;
}

.programnav-popup {
	position: absolute;
	left: -8px;
	width: 100%;
	height: calc(100vh - 80px);
	z-index: 9999999;
	padding-top: 18px;
	background-color:  @color-background;
	overflow-y: scroll;
}

.programnav-program {
	cursor: pointer;
	margin-bottom: 10px;
}

.programnav-program-number {
	display: inline-block;
}

.programnav-program-title-top {
	font-size: @size-selected;
	letter-spacing: @var-05;
	font-weight: @medium;
	margin-left: 10px;
	display: inline-block;
}

.programnav-dropdown {
	vertical-align: middle;
	float: right;
	margin-right: 25px;
}

.programnav-program-title {
	margin-left: 10px;
	display: inline-block;
}

.programnav-program-mission {
	margin-left: 40px;
	display: block;
	width: 200px;
	white-space: normal;
	max-height: 0;
	overflow-y: hidden;
	transition: max-height 0.4s;
}

.programnav-domain {
	margin-top: ((@programbarWidth - @width-circle) / 2);
	margin-left: ((@programbarWidth - @width-circle) / 2);
}

.programnav-domain + .programnav-domain {
	margin-top: 65px;
}

//:hover > .programbar-domain:last-child {
//	padding-bottom: (@width-circle / 2.5);
//}

//hover
//.programbar:hover {
//	width: 265px;
//	z-index: 1000;
//	padding-right: 15px;
//	overflow-y: scroll;
//	height: 100%;
//}

//:hover > .programbar-program-title, .state-selected > .programbar-program-title{
//	color: @color-selected;
//}

// Program bar Names
.programnav-domain .programnav-domain-name {
	height: 0;
	font-size: @main-text;
	line-height: @line-height-main-text;
	letter-spacing: @var-01;
	color: @color-selected;
	font-weight: @regular;
	text-transform: @uppercase;
	margin-left: (@width-circle + 10px);
	padding-bottom: 30px;
}

//.programnav div.programnav-domain:first-child > div.programnav-domain-name:first-child {
//	padding-bottom: 0;
//}

//:hover > .programbar div.programbar-domain:first-child > div.programbar-domain-name:first-child {
//	padding-bottom: 30px;
//	transition: padding-bottom 0.3s;
//}
//
//:hover > .programbar-domain .programbar-domain-name {
//	opacity: 1;
//}
