@import "variables/colors.less";
@import "templates/Buttons.less";

.searchbar {
	display: inline-block;
	margin-left: 10px;
	position: relative;
	display: inline-block;
	top: ((@width-circle - @width-circle) - (@width-circle / 2));
}
