@import "variables/colors.less";

.tasklist {
	margin-left: 40px;
	background-color: @color-white;
	padding-top: 20px;
}

.tasklist-task + .tasklist-task {
	margin-top: 30px;
}

.tasklist-task-number {
	vertical-align: top;
	margin-left: -40px;
	display: inline-block;
}

.tasklist-task-title {
	vertical-align: top;
	margin-left: 20px;
	display: inline-block;
}

.tasklist-task-title-means-label {
	font-weight: bold;
}
