.debugborders {
	//border: 1px dashed grey;
}

html, body {
	margin: 0px;
	padding: 0px;
	width: 100%;
}

.layout-nav-top {
	.debugborders();
	height: 40px;
	margin: 10px;
	line-height: 40px;
	width: calc(100% - 20px);
}

.layout-nav-left {
	.debugborders();
	margin-left: 10px;
	float: left;
}

.layout-workspace {
	.debugborders();
	position: relative;
	z-index: -1;

	float: left;
	margin-left: 10px;
	width: calc(66% - 70px);
	min-height: calc(100% - 60px);
}

.layout-column {
	.debugborders();
	float: left;
	position: relative;
	margin: 0px;
	width: calc(50% - 6px;);
	min-height: calc(100% - 60px);
}

.layout-column + .layout-column{
	margin-left: 10px;
}
