.debugborders {
	border: 1px dashed grey;
}

html, body {
	margin: 0px;
	padding: 0px;
	width: 100%;
}

.layout-nav-top {
	.debugborders();
	height: 40px;
	margin: 10px;
	line-height: 40px;
	width: calc(100% - 20px);
}

.layout-nav-left {
	.debugborders();
	width: 40px;
	margin-left: 10px;
	float: left;
}

.layout-workspace {
	.debugborders();
	position: relative;
	z-index: -1;
	
	float: left;
	margin-left: 10px;
	width: calc(100% - 70px);
	min-height: calc(100% - 60px);
}
