@import "variables/colors.less";
@import "variables/fonts.less";


body {
	font-family: @font-base;
	font-size: @font-size;
	background: @color-background;
}

input, textarea, select {
	font-family: @font-base;
	font-size: 0.9em;
}

div {
	border-radius: 2px;
}
