@import "variables/colors.less";

@font-base: 'Graphik', sans-serif;
@font-number: 'Space Mono', monospace;
@font-size: 15px;
@regular: 400;
@medium: 500;
@semibold: 600;
@light: 300;
@uppercase: uppercase;

@main-text: @font-size;
@sub-navigation-type-size: (@font-size - 5px);
@button-number: @font-size;
@button-number-small: 12.4px;
@line-height: (@main-text + 9px);
@letter-spacing: 0.001em;
@letter-spacing-selector-selected-title: 0.005em;
@word-spacing: 0.035em;

@icon-size: (@font-size * 1.125);

// The typesize of the arrow in the Opgaven column is 24px

@main-letter-spacing: 1px;


// Selected text

@column-date-font-size:(@font-size / 1.2);
//Navigation Bar

//Title current page (current programma, name on personal dashboard, general dashboard)
//Letter spacing
@var-01: (@main-letter-spacing * 1.1);
@var-05: (@main-letter-spacing * 0.5);

// Title
// Variable
//@var-selected-title: 1.25;
//@var-selected-title-line-height: 1.85;


// Main-text

// Selected Text
@selected-text-title: (@main-text + 3px); //for the selector
@selected-text-title-line-height: (@main-text + 10px); //for the selector
//@selected-text-title-word-spacing: (@main-text / 22.35); //for the selector

.default-text-light {
	font-weight: @light;
	font-size: @main-text;
	line-height: @line-height;
	letter-spacing: @letter-spacing;
	word-spacing: @word-spacing;
}

.default-text-regular {
	font-size: @main-text;
	font-weight: @regular;
	line-height: @line-height;
	letter-spacing: @letter-spacing;
	word-spacing: @word-spacing;
}

.default-text-monospace {
	font-family: @font-number;
	font-size: 12.5px;
	line-height: 20px;
	font-weight: @regular;
}

.sub-navigation {
	font-size: @sub-navigation-type-size;
	font-weight: @regular;
	letter-spacing: @letter-spacing;
	word-spacing: @word-spacing;
	color: @color-editable;
}

// Typographic elements and status
.title {
	.default-text-regular ();
	font-size: 20px;
}

.subtitle {
	.default-text-regular ();
	color: @color-selected;
}

.body-text {
	.default-text-light ();
	color: @color-black;
}

// State empty
.state-empty {
 	color: @color-sketch;
 	.default-text-light ();
}

.state-empty:before {
  	content: '– ';
 	color: @color-sketch;
 	.default-text-light ();
}

// kpi
.kpi {
	.default-text-light ();
}


// Over write part of .default-text in order to have smaller type
// Also used for the sub-navigation
.over-calendar-type-size {
	font-size: 13px;
	letter-spacing: 0.01em;
}

.list-item-small {
	margin-bottom: 40px;
}