@font-base: 'Open Sans', sans-serif;
@font-size: 16px;
@semibold: 600;
@light: 300;
@uppercase: uppercase;

@main-text: (@font-size * 0.875);
@line-height-main-text: (@font-size * 1.250);
@icon-size: (@font-size * 1.125);

// Selected text


// Title
// Variable
@var-selected-title: 1.25;
@var-selected-title-line-height: 1.625;

@size-selected: (@font-size * @var-selected-title); // 1.25 .selected-text
@line-height-size-selected: (@font-size * @var-selected-title-line-height);

// Main-text
// Variable
@var-selected-main-text: 1.15; // Included subheader
@var-selected-line-height-main-text: 1.20;

@size-selected-main-text: (@main-text * @var-selected-main-text);
@line-height-size-selected-main-text: (@line-height-main-text * @var-selected-line-height-main-text);