.grey {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(100,100,100,0.5);
	z-index: 100000;
}

.fullscreen {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1000;
}

.editor {
	position: relative;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	width: 25%;

	background-color: #ffffff;
	z-index: 10000000;
	box-shadow: 0px 0px 15px #111111;
	padding: 15px;
	white-space: normal;
}

.editor.wide {
	width: 70%;
}

.editor.wide .column {
	width: 33%;
	float: left;
	box-sizing: border-box;
}

.editor .textarea {
	background: white;
	border: 1px solid grey;
	padding: 5px;
	outline: none;
	box-sizing: border-box;
	resize: none;
	width: 100%;
	height: 160px;
	cursor: default;
	margin-bottom: 30px;
}

.editor .input {
	background: white;
	border: 1px solid grey;
	padding: 5px;
	outline: none;
	box-sizing: border-box;
	resize: vertical;
	width: 100%;
	cursor: default;
	margin-bottom: 30px;
}

.editor .button {
	display: block;
	border: 0px;
	margin-top: 10px;
	background: #ffc400;
	padding: 10px;
	outline: none;
	box-sizing: border-box;
	cursor: pointer;
	font-weight: 600;
}

.editor .PersonList {
	position: relative;
}

.editor .TypeSelector .type {
	cursor: pointer;
	padding: 3px;
	display: inline-block;
	margin-right: 30px;
}

.editor .TypeSelector .type.selected{
	background: #00CCCC;
}
