@keyframes fade-in {
	from {opacity:0;}
	to {opacity:1;}
}

* {
	animation: fade-in 0.5s;
	transition: background-color 0.2s;
	border-radius: 3px;
}

html, body {
	margin: 0px;
	background: #dddddd;
	overflow-x: hidden;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

input, textarea, select {
	font-family: 'Open Sans', sans-serif;
	font-size: 0.9em;
}

::-webkit-scrollbar
{
	width: 6px;  /* for vertical scrollbars */
	height: 6px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
	background: #ffffff;
}

::-webkit-scrollbar-thumb
{
	background: rgba(0, 0, 0, 0.5);
}
