html,
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.layout-nav-top {
  height: 40px;
  margin: 10px;
  line-height: 40px;
  width: calc(100% - 20px);
}
.layout-nav-left {
  margin-left: 10px;
  float: left;
  height: calc(100% - 60px);
}
.layout-workspace {
  position: relative;
  float: left;
  padding-left: 10px;
  width: calc(66% - 70px);
  height: calc(100% - 135px);
  top: 10px;
}
.layout-column {
  float: left;
  position: relative;
  margin: 0px;
  width: calc(50% - 6px);
  height: 100%;
}
.effort {
  top: 64px;
}
.layout-column + .layout-column {
  margin-left: 10px;
}
.layout-editor {
  position: absolute;
  right: 0px;
  width: 33%;
  height: calc(100% - (54px * 3 + 25px));
  top: 187px;
}
::selection {
  background-color: #FFFF00;
}
::-moz-selection {
  background-color: #FFFF00;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-variant-ligatures: common-ligatures;
  background: #ECF0F1;
}
input,
textarea,
select {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9em;
}
div {
  border-radius: 2px;
}
@keyframes loading {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}
#loading {
  background: #c65a4f;
  width: 40px;
  height: 40px;
  animation: loading 1s infinite;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -20px;
  margin-top: -20px;
  border-radius: 20px;
}
#loadmessage {
  color: #c65a4f;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80px;
  height: 40px;
  text-align: center;
  margin-left: -40px;
  margin-top: 30px;
}
.selector {
  height: 100%;
  width: 100%;
  position: relative;
}
.programdetails-title {
  font-size: 19.8px;
  font-weight: 600;
}
.selector-header {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
}
.selector .selector-header,
.programdetails {
  margin-left: 47px;
}
.selectorlist {
  position: absolute;
  top: 60px;
  bottom: 0px;
  width: 100%;
  overflow-y: scroll;
}
.selectorlist-back {
  margin-left: 50px;
  min-height: 100%;
  box-sizing: border-box;
  background-color: #FFFFFF;
  padding-top: 9.5px;
  padding-bottom: 9.5px;
}
.selectorlist-item {
  cursor: pointer;
}
.selectorlist-item.state-editing,
.selectorlist-item.effortselector-title {
  color: #0000FF;
}
.state-selected .selectorlist-item-content {
  margin-bottom: 65px;
}
.selectorlist-item + .selectorlist-item {
  margin-top: 30px;
}
.selectorlist-item-number {
  vertical-align: top;
  margin-left: -47px;
  display: inline-block;
}
.selectorlist-item-content {
  vertical-align: top;
  display: inline-block;
}
.selectorlist-item-edit {
  opacity: 0;
}
.state-selected .selectorlist-item-edit {
  margin-top: 5px;
  opacity: 1;
  transition: opacity 0.3s;
}
.programdetails {
  margin-bottom: 37px;
}
.programdetails-mission.state-hidden {
  max-height: 0;
}
.programdetails-mission {
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  margin-top: 15px;
  max-height: 300px;
  transition: max-height 0.3s;
  overflow: hidden;
}
.selectorlist-item:last-child {
  padding-bottom: 19px;
}
.button-number {
  background-color: #D2D7D3;
  width: 38px;
  height: 38px;
  line-height: 38px;
  border-radius: 50%;
  text-align: center;
  font-size: 13.3px;
  font-weight: 600;
}
.button-number + .selectorlist-item-edit {
  margin-top: 12px;
  background-color: #ECF0F1;
  text-align: center;
  font-size: 14px;
}
.state-selectable:hover .button-number,
.state-selected .button-number {
  background-color: #0000FF;
  color: #FFFFFF;
}
.button {
  display: inline-block;
  margin-right: 9px;
  cursor: pointer;
  background-color: #CCCCCC;
  text-align: center;
  width: 80px;
  height: 30px;
  line-height: 30px;
}
.button-edit {
  display: inline-block;
  margin-right: 9px;
  cursor: pointer;
  background-color: #CCCCCC;
  text-align: center;
  width: 80px;
  height: 30px;
  line-height: 30px;
  background-color: #FFFF00;
}
.button-right {
  display: inline-block;
  margin-right: 9px;
  cursor: pointer;
  background-color: #CCCCCC;
  text-align: center;
  width: 80px;
  height: 30px;
  line-height: 30px;
  float: right;
}
.button-edit-small {
  display: inline-block;
  margin-right: 9px;
  cursor: pointer;
  background-color: #CCCCCC;
  text-align: center;
  width: 80px;
  height: 30px;
  line-height: 30px;
  background-color: #FFFF00;
  width: 38px;
  height: 20px;
  line-height: 20px;
  font-size: 0.6em;
  background-color: none;
}
.material-icons {
  vertical-align: top;
  font-size: 18px;
  text-align: center;
}
.programdetails .material-icons {
  float: right;
  margin-top: -24px;
  cursor: pointer;
}
.selector-header .material-icons {
  float: right;
  cursor: pointer;
  background-color: white;
  border-radius: 25px;
  padding: 2px;
}
.selector-header .material-icons + .material-icons {
  margin-right: 10px;
}
/*.hide-icon {
 	display: none;
}*/
.textarea {
  background-color: #ECF0F1;
  border: 0.3px solid #0000FF;
  width: calc(85% - 5px);
  height: 200px;
  resize: vertical;
  border-radius: 2px;
  padding: 5px;
}
.input {
  background-color: #ECF0F1;
  border: 0.3px solid #0000FF;
  border-radius: 4px;
  padding: 5px;
}
.datepicker-day,
.datepicker-month {
  width: 2em;
  display: inline-block;
}
.datepicker-dash {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}
.datepicker-year {
  width: 4em;
  display: inline-block;
}
nav {
  z-index: 10;
}
.nav-dashbutton {
  background: #FFFFFF;
  width: 54px;
  height: 54px;
}
.nav-dashbutton-icon {
  background: #D2D7D3;
  width: 27px;
  height: 27px;
}
.programbar {
  background: #FFFFFF;
  width: 54px;
  overflow-x: hidden;
  white-space: nowrap;
  transition: width 0.2s;
  margin-top: 10px;
}
.programbar-program {
  cursor: pointer;
  margin-bottom: 10px;
}
.programbar-program-number {
  display: inline-block;
}
.programbar-program-title {
  font-size: 14px;
  line-height: 20px;
  margin-left: 10px;
  display: inline-block;
}
.programbar-program-mission {
  margin-left: 40px;
  display: block;
  width: 200px;
  white-space: normal;
  max-height: 0;
  overflow-y: hidden;
  transition: max-height 0.4s;
}
.programbar-domain {
  margin-top: 8px;
  margin-left: 8px;
}
.programbar-domain + .programbar-domain {
  margin-top: 50px;
}
:hover > .programbar-domain:last-child {
  padding-bottom: 38px;
}
.programbar:hover {
  width: 265px;
  z-index: 1000;
  padding-right: 15px;
  overflow-y: scroll;
  height: 100%;
}
:hover > .programbar-program-title,
.state-selected > .programbar-program-title {
  color: #0000FF;
}
.programbar:hover .state-selected > .programbar-program-mission {
  max-height: 200px;
  transition: max-height 0.4s;
}
.programbar-domain .programbar-domain-name {
  opacity: 0;
  height: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin-left: 48px;
  transition: opacity 0.35s;
  transition: height 0.35s;
}
:hover > .programbar-domain .programbar-domain-name {
  opacity: 1;
  height: 30px;
}
.taskselector-title-means-label {
  font-weight: 600;
}
.taskselector-title,
.effortselector-title {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  margin-left: 10px;
}
/* when title is selected the size increase */
.state-selected .taskselector-title,
.state-selected .effortselector-title {
  font-size: 19.8px;
  line-height: 26px;
  padding-right: 13px;
}
/* description inspanningen-effort */
.effortselector-hidden {
  font-size: 14px;
  font-weight: 300;
}
.effortselector-title + .effortselector-hidden {
  margin-top: 20px;
  margin-left: 20px;
}
.effortselector-type {
  font-weight: 600;
}
.effortselector-subheader {
  font-weight: 600;
}
.effortselector-hidden {
  opacity: 0;
  display: none;
  transition: opacity 0.4s;
}
.effortselector-description {
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  padding-right: 13px;
}
.effortselector-type + .effortselector-description,
.effortselector-description + .effortselector-subheader {
  margin-top: 20px;
}
.state-selected .effortselector-hidden {
  opacity: 1;
  display: block;
}
.editor {
  width: 100%;
  height: 100%;
  transition: margin-left 0.4s;
  overflow-y: scroll;
  font-size: 14px;
}
.editor-buttons {
  margin-top: 35px;
  margin-bottom: 30px;
  margin-right: 10px;
}
.editor.state-hidden {
  margin-left: 100%;
}
.efforteditor {
  float: right;
  width: 100%;
  margin-right: 10px;
}
.efforteditor .textarea {
  float: right;
}
.efforteditor .textarea + .editor-subtitle {
  margin-top: 75px;
}
.editor-typeselect-type {
  padding: 10px;
  border: 0.3px solid #0000FF;
  margin-bottom: 8px;
  cursor: pointer;
}
.editor-typeselect-type:hover {
  background-color: #0000FF;
  color: #FFFFFF;
}
.editor-typeselect-type .state-selected {
  background-color: #0000FF;
}
.editor-typeselect-type-timespan {
  display: none;
}
.editor-typeselect-type-name {
  font-weight: 600;
}
.editor-typeselect-type-timespan-subtitle {
  margin-top: 6px;
  margin-bottom: 3px;
}
.editor-typeselect-type-timespan.state-visible {
  display: block;
}
.editor-typeselect-type .material-icons {
  float: right;
  cursor: pointer;
  margin-top: -19px;
}
.editor-subtitle,
.editor-peoplelist,
.editor-typeselect,
.editor-buttons {
  width: calc(85% + 5px);
  float: right;
}
.editor-subtitle {
  font-weight: 600;
  margin-bottom: 8px;
}
.opg-door {
  text-align: center;
  margin-bottom: 16px;
}
.efforteditor .textarea + .opg-door {
  margin-top: 16px;
  margin-bottom: 16px;
}
.editor-peoplelist {
  margin-bottom: 75px;
}
.editor-peoplelist-person {
  margin-bottom: 8px;
}
.editor-peoplelist-person-remove {
  float: right;
  cursor: pointer;
}
