.debugborders {
  background-color: rgba(0, 50, 255, 0.1);
  box-shadow: 0px 0px 1px grey;
}
html,
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.layout-nav-top {
  background-color: rgba(0, 50, 255, 0.1);
  box-shadow: 0px 0px 1px grey;
  height: 40px;
  margin: 10px;
  line-height: 40px;
  width: calc(100% - 20px);
}
.layout-nav-left {
  background-color: rgba(0, 50, 255, 0.1);
  box-shadow: 0px 0px 1px grey;
  margin-left: 10px;
  float: left;
}
.layout-workspace {
  background-color: rgba(0, 50, 255, 0.1);
  box-shadow: 0px 0px 1px grey;
  position: relative;
  float: left;
  margin-left: 10px;
  width: calc(66% - 70px);
  height: calc(100% - 60px);
}
.layout-column {
  background-color: rgba(0, 50, 255, 0.1);
  box-shadow: 0px 0px 1px grey;
  float: left;
  position: relative;
  margin: 0px;
  width: calc(50% - 6px);
  height: 100%;
}
.layout-column + .layout-column {
  margin-left: 10px;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  background: #DDDDDD;
}
input,
textarea,
select {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9em;
}
div {
  border-radius: 2px;
}
@keyframes loading {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}
#loading {
  background: #c65a4f;
  width: 40px;
  height: 40px;
  animation: loading 1s infinite;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -20px;
  margin-top: -20px;
  border-radius: 20px;
}
#loadmessage {
  color: #c65a4f;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80px;
  height: 40px;
  text-align: center;
  margin-left: -40px;
  margin-top: 30px;
}
.selector {
  height: 100%;
  width: 100%;
  position: relative;
}
.selector-header {
  font-size: 2em;
}
.selectorlist {
  position: absolute;
  top: 40px;
  bottom: 0px;
  width: 100%;
  overflow-y: scroll;
}
.selectorlist-back {
  margin-left: 50px;
  min-height: 100%;
  box-sizing: border-box;
  background-color: #FFFFFF;
  padding-top: 20px;
  padding-bottom: 20px;
}
.selectorlist-item {
  cursor: pointer;
}
.selectorlist-item + .selectorlist-item {
  margin-top: 30px;
}
.selectorlist-item-number {
  vertical-align: top;
  margin-left: -50px;
  display: inline-block;
}
.selectorlist-item-content {
  vertical-align: top;
  margin-left: 20px;
  display: inline-block;
}
.selectorlist-item-edit {
  margin-top: 5px;
  opacity: 0;
  transition: opacity 0.3s;
}
.selectorlist-item.state-selected .selectorlist-item-edit {
  opacity: 1;
}
.button-number {
  background-color: #AAAAAA;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
}
.state-selectable:hover .button-number,
.state-selected .button-number {
  background-color: #3333FF;
  color: #FFFFFF;
}
.button-edit {
  cursor: pointer;
  font-size: 0.6em;
  background-color: #FFFF00;
  width: 40px;
  height: 20px;
  line-height: 20px;
  text-align: center;
}
nav {
  z-index: 10;
}
.nav-dashbutton {
  background: #FFFFFF;
  padding: 4px;
  width: 30px;
  height: 30px;
}
.nav-dashbutton-icon {
  background: #AAAAAA;
  width: 30px;
  height: 30px;
}
.programbar {
  background: #FFFFFF;
  width: 50px;
  overflow-x: hidden;
  white-space: nowrap;
  transition: width 0.2s;
}
.programbar-program {
  cursor: pointer;
  margin-bottom: 10px;
}
.programbar-program-number {
  display: inline-block;
}
.programbar-program-title {
  margin-left: 10px;
  display: inline-block;
}
.programbar-program-mission {
  margin-left: 40px;
  display: block;
  width: 200px;
  white-space: normal;
  max-height: 0;
  overflow-y: hidden;
  transition: max-height 0.4s;
}
.programbar-domain {
  margin-top: 4px;
  margin-left: 4px;
}
.programbar-domain + .programbar-domain {
  margin-top: 25px;
}
.programbar:hover {
  width: 250px;
  z-index: 1000;
}
:hover > .programbar-program-title,
.state-selected > .programbar-program-title {
  color: #3333FF;
}
.programbar:hover .state-selected > .programbar-program-mission {
  max-height: 200px;
  transition: max-height 0.4s;
}
.taskselector-title-means-label {
  font-weight: bold;
}
.effortselector-subheader {
  font-weight: bold;
}
.effortselector-hidden {
  opacity: 0;
  display: none;
  transition: opacity 0.4s;
}
.state-selected .effortselector-hidden {
  opacity: 1;
  display: block;
}
