html,
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.layout-nav-top {
  height: 40px;
  margin: 10px;
  line-height: 40px;
  width: calc(100% - 20px);
}
.layout-nav-left {
  margin-left: 10px;
  float: left;
}
.layout-workspace {
  position: relative;
  float: left;
  margin-left: 10px;
  width: calc(66% - 70px);
  height: calc(100% - 60px);
}
.layout-column {
  float: left;
  position: relative;
  margin: 0px;
  width: calc(50% - 6px);
  height: 100%;
}
.layout-column + .layout-column {
  margin-left: 10px;
}
.layout-editor {
  position: absolute;
  right: 0px;
  width: 33%;
  height: calc(100% - 60px);
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background: #ECF0F1;
}
input,
textarea,
select {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9em;
}
div {
  border-radius: 2px;
}
@keyframes loading {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}
#loading {
  background: #c65a4f;
  width: 40px;
  height: 40px;
  animation: loading 1s infinite;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -20px;
  margin-top: -20px;
  border-radius: 20px;
}
#loadmessage {
  color: #c65a4f;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80px;
  height: 40px;
  text-align: center;
  margin-left: -40px;
  margin-top: 30px;
}
.selector {
  height: 100%;
  width: 100%;
  position: relative;
}
.selector-header {
  font-size: 19.8px;
  font-weight: 600;
  margin-left: 66px;
}
.selectorlist {
  position: absolute;
  top: 40px;
  bottom: 0px;
  width: 100%;
  overflow-y: scroll;
}
.selectorlist-back {
  margin-left: 50px;
  min-height: 100%;
  box-sizing: border-box;
  background-color: #FFFFFF;
  padding-top: 11px;
  padding-bottom: 11px;
}
.selectorlist-item {
  cursor: pointer;
}
.state-selected .selectorlist-item-content {
  margin-bottom: 65px;
}
.selectorlist-item + .selectorlist-item {
  margin-top: 30px;
}
.selectorlist-item-number {
  vertical-align: top;
  margin-left: -50px;
  display: inline-block;
}
.selectorlist-item-content {
  vertical-align: top;
  margin-left: 22px;
  display: inline-block;
}
.selectorlist-item-edit {
  margin-top: 5px;
  opacity: 0;
  transition: opacity 0.3s;
}
.selectorlist-item-edit.state-editable {
  opacity: 1;
}
.button-number {
  background-color: #AAAAAA;
  width: 44px;
  height: 44px;
  line-height: 44px;
  border-radius: 50%;
  text-align: center;
  font-size: 13.3px;
  font-weight: 600;
}
.state-selectable:hover .button-number,
.state-selected .button-number {
  background-color: #3333FF;
  color: #FFFFFF;
}
.button {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
  background-color: #CCCCCC;
  text-align: center;
  width: 80px;
  height: 30px;
  line-height: 30px;
}
.button-edit {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
  background-color: #CCCCCC;
  text-align: center;
  width: 80px;
  height: 30px;
  line-height: 30px;
  background-color: #FFFF00;
}
.button-right {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
  background-color: #CCCCCC;
  text-align: center;
  width: 80px;
  height: 30px;
  line-height: 30px;
  float: right;
}
.button-edit-small {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
  background-color: #CCCCCC;
  text-align: center;
  width: 80px;
  height: 30px;
  line-height: 30px;
  background-color: #FFFF00;
  width: 40px;
  height: 20px;
  line-height: 20px;
  font-size: 0.6em;
}
.textarea {
  background-color: #ECF0F1;
  border: 1px solid #0000FF;
  width: calc(100% - 60px);
  height: 200px;
  resize: vertical;
  border-radius: 4px;
}
.input {
  background-color: #DDDDDD;
  border: 1px solid #0000FF;
  border-radius: 4px;
  padding: 5px;
}
.datepicker-day,
.datepicker-month {
  width: 2em;
  display: inline-block;
}
.datepicker-dash {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}
.datepicker-year {
  width: 4em;
  display: inline-block;
}
nav {
  z-index: 10;
}
.nav-dashbutton {
  background: #FFFFFF;
  padding: 4px;
  width: 30px;
  height: 30px;
}
.nav-dashbutton-icon {
  background: #AAAAAA;
  width: 30px;
  height: 30px;
}
.programbar {
  background: #FFFFFF;
  width: 54px;
  overflow-x: hidden;
  white-space: nowrap;
  transition: width 0.2s;
}
.programbar-program {
  cursor: pointer;
  margin-bottom: 10px;
}
.programbar-program-number {
  display: inline-block;
}
.programbar-program-title {
  font-size: 14px;
  margin-left: 10px;
  display: inline-block;
}
.programbar-program-mission {
  margin-left: 40px;
  display: block;
  width: 200px;
  white-space: normal;
  max-height: 0;
  overflow-y: hidden;
  transition: max-height 0.4s;
}
.programbar-domain {
  margin-top: 5px;
  margin-left: 5px;
}
.programbar-domain + .programbar-domain {
  margin-top: 25px;
}
.programbar:hover {
  width: 250px;
  z-index: 1000;
}
:hover > .programbar-program-title,
.state-selected > .programbar-program-title {
  color: #3333FF;
}
.programbar:hover .state-selected > .programbar-program-mission {
  max-height: 200px;
  transition: max-height 0.4s;
}
.taskselector-title-means-label {
  font-weight: bold;
}
.taskselector-title,
.effortselector-title {
  font-size: 14px;
  font-weight: 600;
  color: #000000;
}
/* when title is selected the size increase */
.state-selected .taskselector-title,
.state-selected .effortselector-title {
  font-size: 19.8px;
}
/* description inspanningen-effort */
.effortselector-hidden {
  font-size: 14px;
  font-weight: 300;
}
.effortselector-title + .effortselector-hidden {
  margin-top: 20px;
  margin-left: 20px;
}
.effortselector-type {
  font-weight: 600;
}
.effortselector-subheader {
  font-weight: bold;
}
.effortselector-hidden {
  opacity: 0;
  display: none;
  transition: opacity 0.4s;
}
.state-selected .effortselector-hidden {
  opacity: 1;
  display: block;
}
.editor {
  width: 100%;
  height: 100%;
  transition: margin-left 0.4s;
  overflow-y: scroll;
}
.editor-buttons {
  margin-bottom: 10px;
}
.editor.state-hidden {
  margin-left: 100%;
}
.editor.state-edit {
  margin-left: 0%;
}
.editor-typeselect-type {
  padding: 10px;
  border: 1px solid #0000FF;
  margin-bottom: 10px;
  cursor: pointer;
}
.editor-typeselect-type-timespan {
  display: none;
}
.editor-typeselect-type-timespan.state-visible {
  display: block;
}
