.PersonSelector {
	margin-top: 0px;
	background: #ffffff;
	padding: 15px;
	width: 300px;
}

.PersonSelector .PersonList {
	height: 300px;
	overflow: scroll;
	border: 1px solid grey;
	padding: 10px;
}

.PersonSelector .person {
	cursor: pointer;
}

.PersonSelector .person:hover {
	background: #EEEEEE;
}

.PersonSelector .personAdd {
	text-decoration: underline;
	font-style: italic;
	cursor: pointer;
	color: #888888;
}

.PersonSelector .personAdd:hover {
	color: #000000;
}

.PersonList .team {
	margin-bottom: 30px;
}

.PersonList .team .name {
	font-weight: 600;
}

.PersonList .person {
	cursor: pointer;
}

.PersonList .person .remove{
	float: right;
}

.PersonList .person:hover {
	background: #EEEEEE;
}
