@import "variables/colors.less";
@import "variables/fonts.less";
@width-circle: 44px;

.button-number {
	background-color: @color-unselected;
	width: @width-circle;
	height: @width-circle;
	line-height: @width-circle;
	border-radius: 50%;
	text-align: center;
	font-size: (@main-text * 0.95);
	font-weight: @semibold;
}

.state-selectable:hover .button-number, .state-selected .button-number {
	background-color: @color-selected;
	color: @color-white;
}

.button-edit {
	cursor: pointer;
	font-size: 0.6em;
	background-color: @color-button;
	width: 40px;
	height: 20px;
	line-height: 20px;
	text-align: center;
}
