@import "variables/colors.less";
@border-box: 1px;

.textarea {
	background-color: @color-background;
	border: @border-box solid @color-editable;
	//width: 85%;
	width: calc(85% - 5px);
	//width: calc(100% - 60px);
	height: 200px;
	resize: vertical;
	border-radius: 2px;
	padding: 5px;
}

.input {
	background-color: @color-background;
	border: @border-box solid @color-editable;
	border-radius: 4px;
	padding: 5px;
}

.editor-peoplelist-finder .input {
	background-color: @color-background;
//	border: @border-box solid @color-editable;
	border: none;
	border-bottom: 	@border-box solid grey;
	padding: 5px;
	border-radius: 0;
	margin-left: 5px;
	margin-bottom: 20px;
}

.datepicker-day, .datepicker-month {
	width: 2em;
	display: inline-block;
}

.datepicker-dash {
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
}

.datepicker-year {
	width: 4em;
	display: inline-block;
}
