.personlist {
	max-height: 300px;
	overflow-y: scroll;
	transition: max-height 0.4s;
}

.state-hidden .personlist {
	max-height: 0px;
}

.personlist-teamname {
	font-weight: bold;
}

.state-hidden .editor-peoplelist-searchbar {
	display: none;
}

.state-hidden .editor-peopelist-add {
	display: block;
}

.editor-peopelist-add {
	display: none;
}
