@import "Buttons.less";

.selector {
	height: 100%;
	width: 100%;
	position: relative;
}

.selector-header {
	font-size: @size-selected;
	font-weight: @semibold;
	margin-left: (@width-circle + @width-circle / 2);
}

.selectorlist {
	position: absolute;
	top: 60px;
	bottom: 0px;
	width: 100%;
	overflow-y: scroll;
}

.selectorlist-back {
	margin-left: 50px;
	min-height: 100%;
	box-sizing: border-box;
	background-color: @color-white;
	padding-top: (@width-circle / 4);
	padding-bottom: (@width-circle / 4);
}

.selectorlist-item {
	cursor: pointer;
}

.selectorlist-item.state-editing, .selectorlist-item.effortselector-title {
	color: @color-editable;
}

.state-selected .selectorlist-item-content {
	margin-bottom: 65px;
}

.selectorlist-item + .selectorlist-item {
	margin-top: 30px;
}

.selectorlist-item-number {
	vertical-align: top;
	margin-left: -47px;
	display: inline-block;
}

.selectorlist-item-content {
	vertical-align: top;
	display: inline-block;
}

.selectorlist-item-edit {
	margin-top: 5px;
	opacity: 0;
	transition: opacity 0.3s;
}

.selectorlist-item-edit.state-editable {
	opacity: 1;
}
