.selector {
	height: 100%;
	width: 100%;
	position: relative;
}

.selector-header {
	font-size: 2em;
}

.selectorlist {
	position: absolute;
	top: 40px;
	bottom: 0px;
	width: 100%;
	overflow-y: scroll;
}

.selectorlist-back {
	margin-left: 50px;
	min-height: 100%;
	box-sizing: border-box;
	background-color: @color-white;
	padding-top: 20px;
	padding-bottom: 20px;
}

.selectorlist-item {
	cursor: pointer;
}

.selectorlist-item + .selectorlist-item {
	margin-top: 30px;
}

.selectorlist-item-number {
	vertical-align: top;
	margin-left: -50px;
	display: inline-block;
}

.selectorlist-item-content {
	vertical-align: top;
	margin-left: 20px;
	display: inline-block;
}
