.selector {
	height: 100%;
}

.selectorlist {
	margin-left: 40px;
	background-color: @color-white;
	padding-top: 20px;
	height: 100%;
}

.selectorlist-item {
	cursor: pointer;
}

.selectorlist-item + .selectorlist-item {
	margin-top: 30px;
}

.selectorlist-item-number {
	vertical-align: top;
	margin-left: -40px;
	display: inline-block;
}

.selectorlist-item-content {
	vertical-align: top;
	margin-left: 20px;
	display: inline-block;
}
