@keyframes fade-in {
	from {opacity:0;}
	to {opacity:1;}
}

* {
	animation: fade-in 0.5s;
	transition: background-color 0.2s;
	border-radius: 6px;
}

html, body {
	margin: 0px;
	background: #dddddd;
	overflow-x: hidden;
	height: 100%;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16pt;
}

input, textarea, select {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16pt;
}

::-webkit-scrollbar
{
	width: 12px;  /* for vertical scrollbars */
	height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
	background: #ffffff;
}

::-webkit-scrollbar-thumb
{
	background: rgba(0, 0, 0, 0.5);
}

nav {
	height: 70px;
	padding-left: 50px;
	padding-top: 30px;
	z-index: 10;
	position: absolute;
	width: 100%;
}

nav > .arrow {
	float: left;
	margin-right: 40px;
	margin-top: 10px;
}

nav > .name {
	float: left;
	margin-right: 40px;
}

.page {
	/*overflow: hidden;*/
	display: block;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	white-space: nowrap;
	overflow-x: scroll;
	overflow-y: hidden;
	padding: 20px;
	padding-top: 100px;
	margin: 0px;
}

.grey {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background-color: rgba(100,100,100,0.5);
	z-index: 10000;
}

.editor {
	width: 33%;
	height: 300px;
	position: fixed;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #ffffff;
	z-index: 1000000;
	box-shadow: 0px 0px 15px #111111;
	padding: 15px;
	white-space: normal;
}

.editor .textarea {
	background: white;
	border: 1px solid grey;
	padding: 5px;
	outline: none;
	box-sizing: border-box;
	resize: none;
	width: 100%;
	height: 130px;
	cursor: default;
}

.editor .input {
	background: white;
	border: 1px solid grey;
	padding: 5px;
	outline: none;
	box-sizing: border-box;
	resize: vertical;
	width: 100%;
	cursor: default;
	margin-bottom: 10px;
}

.editor .button {
	display: block;
	border: 0px;
	margin-top: 10px;
	float: right;
	background: #84c17f;
	padding: 10px;
	outline: none;
	box-sizing: border-box;
	cursor: pointer;
}

.half {
	position: relative;
	display: inline-block;
	width: 45%;
	height: 100%;
	max-height: 100%;

	padding-top: 20px;
	padding-left: 20px;
	margin-right: 10px;

	box-sizing: border-box;
	background: #ffffff;
	padding: 15px;
	color: #999999;
}

.half:hover {
	color: #000000;
}


@media (min-width: 1440px) {
	.half {
		width: 32%;
	}
}

.list {
	overflow-y: scroll;
	overflow-x: hidden;
	position: absolute;
	top: 80px;
	bottom: 0px;
	left: 10px;
	right: 0px;
	padding: 10px;
}

.name {
	margin-bottom: 40px;
	font-weight: 600;
	color: #000000;
}

.addbutton {
	width: 40px;
	height: 40px;
	background-color: #db8b83;
	color: #000000;
	line-height: 40px;
	text-align: center;
	display: block;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

.listItem {
	display: block;
	cursor: pointer;
	padding: 10px;
	margin: -10px;
	margin-bottom: 30px;
	margin-right: 0px;
	/*min-height: 100px;*/
}

.listItem:hover {
	background-color: #dcd8ff;
}



.listItem.add{
	background-color: transparent;
	border: 1px solid #a3a3a3;
	cursor: default;
}

.listItem .number {
	width: 60px;
	height: 60px;
	background-color: #e5e5e5;
	margin-right: 40px;
	line-height: 60px;
	text-align: center;
	display: block;

}

.listItem .edit {
	width: 60px;
	height: 30px;

	line-height: 30px;
	text-align: center;

	color: transparent;
	font-size: 10pt;
}

.listItem:hover .edit {
	color: #db8b83;
}


.listItem:hover .number {
	background-color: #ffffff;
}

.listItem.selected .number {
	background-color: #b6affe;
}

.listItem.selected {
	color: #000000;
}

.listItem .left {
	width: 80px;
	display: inline-block;
	vertical-align: top;
}

.listItem .right {
	display: inline-block;
	width: 70%;
}

.listItem .content {
	font-weight: 300;
	/*width: 60%;*/
	display: inline-block;
	white-space: normal;
}

.listItem .subcontent {
	font-weight: 300;
	margin-top: 10px;
	font-size: 10pt;
	display: none;
	white-space: normal;
	margin-right: 10px;
}

.listItem .subcontent .header {
	font-weight: 600;
	margin-top: 10px;
	font-size: 12pt;
}


.listItem.selected .subcontent {
	display: block;
}

.listItem .number.add {
	background-color: #db8b83;
}

.listItem .form {
	display: inline-block;
	width: 70%;
}



.back {
	border-right: 1px solid grey;
	background: #f8f8f8;
	color: transparent;
	width: 5px;
	height: 100%;
	padding-top: 25%;
	text-align: center;

	position: fixed;
	top: 0px;
	left: 0px;

	transition: width 0.2s ease;
	z-index: 15;

	cursor: pointer;
}

.back:hover {
	width: 50px;
	color: black;
}

.select {
	width: 100%;
}

.what {
	font-weight: 400;
}

.info {
	display: inline-block;
	font-weight: 300;
	cursor: pointer;
	margin-bottom: 50px;
	width: 60%;
}

.info .person {
	font-style: italic;
	width:100%;
	position: relative;
}

.info:hover {
	background-color: #dddddd;
}

.info.mode:hover {
	background-color: transparent;
}

.info.mode .person:hover {
	background-color: #dddddd;
}
.info .person .n {
	text-align: left;
}

.info .input {
	width: 90%;
}

/*
.edit {
	position: absolute;
	right: 10px;
	font-size: 12pt;
	display: none;
	cursor: pointer;
	text-align: right;
}
*/
.person:hover .edit {
	display: inline-block;
}

/*

.page {
	position: relative;
	white-space: nowrap;
	overflow-x: scroll;
	overflow-y: scroll;
}

.task {
	position: relative;
	width: 350px;
	margin: 50px;
	margin-left: 25px;
	margin-right: 0px;
	padding: 30px;
	border: 1px solid #d3d3d3;
	border-radius: 4px;
	white-space: normal;
	display: inline-block;
	vertical-align: top;
}

.task > .title {
	margin-left: 0px;
	font-weight: 600;
	padding-bottom: 20px;
}

.icon {
	display: inline-block;
	margin-right: 20px;
}

.task > .number {
	color: #c65a4f;
	position: absolute;
	left: -25px;
	text-align: right;
	width: 25px;
}

.add {
	font-weight: 300;
	color: #888888;
	cursor: pointer;
}

.add:hover {
	text-decoration: underline;
	color: #181818;
}

.effort {
	font-weight: 300;
	position: relative;
	padding-left: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 1px solid #d3d3d3;
	cursor: pointer;
}

.effort .title:hover {
	text-decoration: underline;
}


.effort > .people > .person {
	font-size: 10pt;
	margin-right: 20px;
	font-weight: 300;
}

.effort > .people > .person:hover {
	text-decoration: underline;
}

.effort > .title:hover {
	text-decoration: underline;
}



input {
	background: transparent;
	border: 1px solid #d3d3d3;
	padding: 5px;
	outline: none;
	box-sizing: border-box;
	display: inline-block;
	width: 90%;
}

nav {
	padding-left: 30px;
	padding-top: 20px;
	padding-bottom: 60px;
	width: 100%;
	background: #efefef;
}

nav > .layer {
	float: left;
	margin-right: 40px;
	color: #666666;
	cursor: pointer;
}

nav > .layer:hover {
	color: #000000;
}

nav > .layer.top {
	color: #000000;
	cursor: default;
}

nav > .arrow {
	float: left;
	margin-right: 40px;
	margin-top: 10px;
}

nav > .layer > .type {
	font-weight: 300;
	font-size: 8pt;
}


nav > .layer > .title {
	font-weight: 600;
}
*/
